<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Avergers.Properties.Settings.AvengersDBConnectionString"
            connectionString="Data Source=AUDREY;Initial Catalog=AvengersDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Avergers.Properties.Settings.AvengersDBConnectionString1"
            connectionString="Data Source=DESKTOP-TKJHI8I;Initial Catalog=AvengersDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Avergers.Properties.Settings.ProjetHeroConnectionString"
            connectionString="Data Source=MSI-UBI\MSSQLSERVER01;Initial Catalog=ProjetHero;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>